<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <connectionStrings>
    <add name="ProgramTvContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=9b79a524-b0de-4ba4-a986-a22a01708dca.sqlserver.sequelizer.com;Database=db9b79a524b0de4ba4a986a22a01708dca;User ID=qktavrfbqeqowrtd;Password=jRvwpKQwB5uWonwhG8JHPVUPgvcSMKwNJT7vQ5ycRwF5vyWAWEb3gmzw6Np3H6SZ;" />

    <!--<add  name="ProgramTvContext"
          providerName="System.Data.SqlClient"
          connectionString="Server=.;Database=ProgramTvContext;Trusted_Connection=true;"/>-->

  </connectionStrings>
</configuration>