USE [master]
GO
/****** Object:  Database [db9b79a524b0de4ba4a986a22a01708dca]    Script Date: 8/31/2013 12:57:31 ******/
CREATE DATABASE [db9b79a524b0de4ba4a986a22a01708dca] ON  PRIMARY 
( NAME = N'db9b79a524b0de4ba4a986a22a01708dca', FILENAME = N'E:\mssqldata\db9b79a524b0de4ba4a986a22a01708dca.mdf' , SIZE = 2304KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db9b79a524b0de4ba4a986a22a01708dca_log', FILENAME = N'D:\mssqllog\db9b79a524b0de4ba4a986a22a01708dca_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db9b79a524b0de4ba4a986a22a01708dca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db9b79a524b0de4ba4a986a22a01708dca]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/31/2013 12:57:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](255) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Days]    Script Date: 8/31/2013 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Days](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Days] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DbMetadatas]    Script Date: 8/31/2013 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbMetadatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
	[OnProgramIdChange] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.DbMetadatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProgramSchedules]    Script Date: 8/31/2013 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day_Id] [int] NULL,
	[TvProgram_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ProgramSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shows]    Script Date: 8/31/2013 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shows](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StarAt] [nvarchar](max) NULL,
	[Day_Id] [int] NULL,
	[TvProgram_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Shows] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TvPrograms]    Script Date: 8/31/2013 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TvPrograms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ProgramId] [int] NOT NULL,
	[LastUpdatedDate_Id] [int] NULL,
 CONSTRAINT [PK_dbo.TvPrograms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Days] ON 

INSERT [dbo].[Days] ([Id], [Date], [Name]) VALUES (1, CAST(0x0000A22B00000000 AS DateTime), N'Събота / 31.08.2013')
INSERT [dbo].[Days] ([Id], [Date], [Name]) VALUES (2, CAST(0x0000A22C00000000 AS DateTime), N'Неделя / 01.09.2013')
INSERT [dbo].[Days] ([Id], [Date], [Name]) VALUES (3, CAST(0x0000A22D00000000 AS DateTime), N'Понеделник / 02.09.2013')
SET IDENTITY_INSERT [dbo].[Days] OFF
SET IDENTITY_INSERT [dbo].[ProgramSchedules] ON 

INSERT [dbo].[ProgramSchedules] ([Id], [Day_Id], [TvProgram_Id]) VALUES (1, 1, 1)
INSERT [dbo].[ProgramSchedules] ([Id], [Day_Id], [TvProgram_Id]) VALUES (2, 2, 1)
INSERT [dbo].[ProgramSchedules] ([Id], [Day_Id], [TvProgram_Id]) VALUES (3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[ProgramSchedules] OFF
SET IDENTITY_INSERT [dbo].[Shows] ON 

INSERT [dbo].[Shows] ([Id], [Name], [StarAt], [Day_Id], [TvProgram_Id]) VALUES (1, N'Бързо, лесно, вкусно - кулинарно шоу/п/', N'06:00', 1, 1)
INSERT [dbo].[Shows] ([Id], [Name], [StarAt], [Day_Id], [TvProgram_Id]) VALUES (2, N'Да открием Германия/п/', N'06:30', 1, 1)
INSERT [dbo].[Shows] ([Id], [Name], [StarAt], [Day_Id], [TvProgram_Id]) VALUES (3, N'Денят отблизо: Зелената линейка/п/', N'07:00', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Shows] OFF
SET IDENTITY_INSERT [dbo].[TvPrograms] ON 

INSERT [dbo].[TvPrograms] ([Id], [Name], [ProgramId], [LastUpdatedDate_Id]) VALUES (1, N'БНТ 1', 3615, 8)
INSERT [dbo].[TvPrograms] ([Id], [Name], [ProgramId], [LastUpdatedDate_Id]) VALUES (2, N'bTV', 13, 8)
INSERT [dbo].[TvPrograms] ([Id], [Name], [ProgramId], [LastUpdatedDate_Id]) VALUES (3, N'Nova TV', 42, 8)
SET IDENTITY_INSERT [dbo].[TvPrograms] OFF
/****** Object:  Index [IX_Day_Id]    Script Date: 8/31/2013 12:57:34 ******/
CREATE NONCLUSTERED INDEX [IX_Day_Id] ON [dbo].[ProgramSchedules]
(
	[Day_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TvProgram_Id]    Script Date: 8/31/2013 12:57:34 ******/
CREATE NONCLUSTERED INDEX [IX_TvProgram_Id] ON [dbo].[ProgramSchedules]
(
	[TvProgram_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Day_Id]    Script Date: 8/31/2013 12:57:34 ******/
CREATE NONCLUSTERED INDEX [IX_Day_Id] ON [dbo].[Shows]
(
	[Day_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TvProgram_Id]    Script Date: 8/31/2013 12:57:34 ******/
CREATE NONCLUSTERED INDEX [IX_TvProgram_Id] ON [dbo].[Shows]
(
	[TvProgram_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LastUpdatedDate_Id]    Script Date: 8/31/2013 12:57:34 ******/
CREATE NONCLUSTERED INDEX [IX_LastUpdatedDate_Id] ON [dbo].[TvPrograms]
(
	[LastUpdatedDate_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProgramSchedules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProgramSchedules_dbo.Days_Day_Id] FOREIGN KEY([Day_Id])
REFERENCES [dbo].[Days] ([Id])
GO
ALTER TABLE [dbo].[ProgramSchedules] CHECK CONSTRAINT [FK_dbo.ProgramSchedules_dbo.Days_Day_Id]
GO
ALTER TABLE [dbo].[ProgramSchedules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProgramSchedules_dbo.TvPrograms_TvProgram_Id] FOREIGN KEY([TvProgram_Id])
REFERENCES [dbo].[TvPrograms] ([Id])
GO
ALTER TABLE [dbo].[ProgramSchedules] CHECK CONSTRAINT [FK_dbo.ProgramSchedules_dbo.TvPrograms_TvProgram_Id]
GO
ALTER TABLE [dbo].[Shows]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shows_dbo.ProgramSchedules_Day_Id] FOREIGN KEY([Day_Id])
REFERENCES [dbo].[ProgramSchedules] ([Id])
GO
ALTER TABLE [dbo].[Shows] CHECK CONSTRAINT [FK_dbo.Shows_dbo.ProgramSchedules_Day_Id]
GO
ALTER TABLE [dbo].[Shows]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shows_dbo.TvPrograms_TvProgram_Id] FOREIGN KEY([TvProgram_Id])
REFERENCES [dbo].[TvPrograms] ([Id])
GO
ALTER TABLE [dbo].[Shows] CHECK CONSTRAINT [FK_dbo.Shows_dbo.TvPrograms_TvProgram_Id]
GO
ALTER TABLE [dbo].[TvPrograms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TvPrograms_dbo.Days_LastUpdatedDate_Id] FOREIGN KEY([LastUpdatedDate_Id])
REFERENCES [dbo].[Days] ([Id])
GO
ALTER TABLE [dbo].[TvPrograms] CHECK CONSTRAINT [FK_dbo.TvPrograms_dbo.Days_LastUpdatedDate_Id]
GO
USE [master]
GO
